<ion-header>
  <ion-navbar>
    <ion-title>
      Search
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">

  <ion-searchbar id="bonds-search1" [(ngModel)]="searchKey" (ionInput)="getItems()"></ion-searchbar>

  <ion-list>

    <ion-item>
      <ion-label>Filter by</ion-label>
      <ion-select [(ngModel)]="searchFilter" (ngModelChange)="filterResult()" name="filterResult">
        <ion-option value="Bonds">Bonds</ion-option>
        <ion-option value="Stocks">Stocks</ion-option>
        <ion-option value="Insurance">Insurance</ion-option>
      </ion-select>
    </ion-item>

    <!-- <ion-item color="none" *ngFor="let searchItem of showList; let i = index" on-click="goToArticleDetail(i)" id="insurance-list-item23">
      {{searchItem.articlename}} {{searchItem.likewebsite}}
    </ion-item> -->

    <ion-row class="liked-row" *ngFor="let searchItem of showList; let i = index">

      <ion-col col-10>
        <ion-row class="full-height" on-click="goToArticleDetail(i)">
          <span>
            {{searchItem.articlename}}
          </span>
        </ion-row>
      </ion-col>

      <ion-col col-2>
        <ion-row class="full-height">
          <ion-icon name="ios-heart-outline" class="unlike-icon" *ngIf="!searchItem.likewebsite" (click)="likeArticle(i)"></ion-icon>
          <ion-icon name="ios-heart" class="like-icon" *ngIf="searchItem.likewebsite" (click)="likeArticle(i)"></ion-icon>
        </ion-row>
      </ion-col>

    </ion-row>

  </ion-list>
</ion-content>