page-article-detail {
    .quiz-part {
        h6 {
            border-style: inset;
            border-width: 3px;
            border-color: coral;
            width: 100%;
            padding: 3px;
            .quiz-first {
                margin-top: 10px;
                margin-bottom: 30px;
                h1 {
                    margin: auto;
                    text-align: center;
                }
                h4 {
                    // width: 70%;
                    margin: auto;
                    text-align: center;
                }
            }
            .quiz-detail {
                .quiz-des {
                    // width: 90%;
                    // margin-left: 5%; // span {
                    //     padding-left: 20px;
                    // }
                    .center-item {
                        margin: auto;
                        span {
                            margin-top: auto;
                            margin-bottom: auto;
                        }
                    }
                }
            }
        }
    }
    .quiz-title-des {
        margin-bottom: 20px;
        h4 {
            margin: auto;
        }
    }
    .checked {
        color: orange;
    }
    .like-part {
        margin-top: 10px;
        ion-icon {
            font-size: 25px;
        }
    }
    .chart-graph {
        margin-top: 20px;
        canvas {
            width: 100%;
        }
    }
    #notes-button4 {
        margin-bottom: 25px;
    }
}