<ion-header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <ion-navbar>


    <ion-title>
      {{search.name}}
    </ion-title>
  </ion-navbar>
</ion-header>
<style>
  h6 {
      border-style: inset;
  border-width: 7px;
  border-color: coral;
    }
    .checked {
  color: orange;
}
  
    </style>
<ion-content padding id="page7">

  <div *ngIf="search.name==bonds">
    <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="howBondInvestingWorks-video12">
      <iframe src="https://www.youtube.com/embed/C1FPhvk17B8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen
        width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>

    <br>
    <h6>

      <h1 align="center"><u> Quiz Time! </u></h1>
      <h4 align="center">
        Now lets apply your knowledge in this Quiz. <br>

        You will not be allowed to leave this page until you make an attempt.
      </h4>
      <br>
      <h5 align="center">Question 1: Is there risk when investing in a Bond? </h5>

      <form align="center">
        <input type="radio" name="risk" value="yes" checked> Yes<br>
        <input type="radio" name="risk" value="no"> No <br>
      </form>

      <h5 align="center">Question 2: Does Bond require physical cash transaction? </h5>
      <form align="center">
        <input type="radio" name="risk" value="yes" checked> Yes<br>
        <input type="radio" name="risk" value="no"> No <br>
      </form>

      <h5 align="center">Question 3: Which of the following statemnet is false? </h5>
      <form align="center">
        <input type="radio" name="risk" value="yes" checked> Bonds carry no corporate ownership privileges.<br>
        <input type="radio" name="risk" value="no"> A Bond is a financial contract. <br>
        <input type="radio" name="risk" value="no"> Bond prices remain fixed over time. <br>
        <input type="radio" name="risk" value="no"> A bond issuer must pay periodic interest. <br>
      </form>

      <h1 align="center"><input type="submit" value="Submit"></h1>

      Don't forget to give this video rating:
      <br>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>


      <br>

    </h6>




  </div>

  <div *ngIf="search.name==invest101">
    <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="howInsuranceWorks-video17">
      <iframe src="https://www.youtube.com/embed/qjXgpJpSlCc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen
        width="350" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <br>
    <h6>

      <h1 align="center"><u> Quiz Time! </u></h1>
      <h4 align="center">
        Now lets apply your knowledge in this Quiz. <br>

        You will not be allowed to leave this page until you make an attempt.
      </h4>
      <br>
      <h5 align="center">Question 1: Is there risk when investing in a Bond? </h5>

      <form align="center">
        <input type="radio" name="risk" value="yes" checked> Yes<br>
        <input type="radio" name="risk" value="no"> No <br>
      </form>

      <h5 align="center">Question 2: Does Bond require physical cash transaction? </h5>
      <form align="center">
        <input type="radio" name="risk" value="yes" checked> Yes<br>
        <input type="radio" name="risk" value="no"> No <br>
      </form>

      <h5 align="center">Question 3: Which of the following statemnet is false? </h5>
      <form align="center">
        <input type="radio" name="risk" value="yes" checked> Bonds carry no corporate ownership privileges.<br>
        <input type="radio" name="risk" value="no"> A Bond is a financial contract. <br>
        <input type="radio" name="risk" value="no"> Bond prices remain fixed over time. <br>
        <input type="radio" name="risk" value="no"> A bond issuer must pay periodic interest. <br>
      </form>

      <h1 align="center"><input type="submit" value="Submit"></h1>

      Don't forget to give this video rating:
      <br>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>


      <br>

    </h6>

  </div>


  <div *ngIf="search.name==investbasic">

    <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="investingBasics-video10">
      <iframe src="https://www.youtube.com/embed/IuyejHOGCro?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen
        width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>

    <br>
    <h6>

      <h1 align="center"><u> Quiz Time! </u></h1>
      <h4 align="center">
        Now lets apply your knowledge in this Quiz. <br>

        You will not be allowed to leave this page until you make an attempt.
      </h4>
      <br>
      <h5 align="center">Question 1: Financial assets are also called: </h5>

      <form align="center">
        <input type="radio" name="risk" value="yes" checked> securities.<br>
        <input type="radio" name="risk" value="no"> real assets. <br>
        <input type="radio" name="risk" value="no"> physical assets. <br>
        <input type="radio" name="risk" value="no"> tangible assets. <br>
      </form>

      <h5 align="center">Question 2: Which of the following is a capital market security? </h5>
      <form align="center">
        <input type="radio" name="risk" value="yes" checked="true"> Treasury bills.<br>
        <input type="radio" name="risk" value="no"> Federal agency bonds. <br>
        <input type="radio" name="risk" value="no"> Eurodollars. <br>
        <input type="radio" name="risk" value="no"> Federal funds. <br>
      </form>

      <h5 align="center">Question 3: Most Bonds: </h5>
      <form align="center">
        <input type="radio" name="risk" value="no" checked> are floating-rate securities.<br>
        <input type="radio" name="risk" value="yes">are interest-bearing obligations of governments or corporations.
        <br>
        <input type="radio" name="risk" value="no"> give bondholders a voice in the affairs of the corporation. <br>
        <input type="radio" name="risk" value="no"> are money market securities. <br>
      </form>

      <h1 align="center"><input type="submit" value="Submit"></h1>

      Don't forget to give this video rating:
      <br>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>


      <br>

    </h6>


  </div>
</ion-content>